form {
    margin-top: 3rem;
  }
  
  form input[name="city"],
  form input[name="country"] {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
  }
    
  